
[url "git@github.com:"]
    insteadof = github:

[include]
    # https://github.com/dandavison/delta
    # path = ~/.g/delta.conf
    # My aliases
    path = ~/.g/aliases.conf
    # Use meld as my difftool
    path = ~/.g/meld.conf

[credential]
    helper = store
	# helper = !aws codecommit credential-helper --profile=personal-git-user $@
	UseHttpPath = true

[branch "master"]
    remote = origin
    merge = refs/heads/master

[push]
	  default = current

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
	rebase = false

[init]
	defaultBranch = master

[core]
	autocrlf = input

[includeIf "gitdir:~/.config/lvim/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/.config/nvim/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/.cfg/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/Notes/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/.bash_it/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/.zprezto/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/.yadm/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/Programming/Personal/"]
    path = ~/Programming/Personal/.gitconfig

[includeIf "gitdir:~/Programming/Home/"]
    path = ~/Programming/Home/.gitconfig

[includeIf "gitdir:~/Programming/cngholdings/"]
    path = ~/Programming/cngholdings/.gitconfig

[includeIf "gitdir:~/Programming/MikKelTech/"]
    path = ~/Programming/MikKelTech/.gitconfig

[includeIf "gitdir:~/Programming/Pinnacle/"]
    path = ~/Programming/Pinnacle/.gitconfig
[fetch]
	recurseSubmodules = true
[diff]
	submodule = log
[status]
	submoduleSummary = true
